<div class="auth-container">

  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <!-- Email -->
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Email" />
    <small class="error"
      *ngIf="loginForm.get('email')?.touched &&
             loginForm.get('email')?.hasError('required')">
      Email is required
    </small>
    <small class="error"
      *ngIf="loginForm.get('email')?.touched &&
             loginForm.get('email')?.hasError('email')">
      Enter a valid email
    </small>

    <!-- Password -->
    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Password" />
    <small class="error"
      *ngIf="loginForm.get('password')?.touched &&
             loginForm.get('password')?.hasError('required')">
      Password is required
    </small>

    <button type="submit">Login</button>

  </form>

  <p class="message">{{ message }}</p>

</div>