<div class="auth-page">

  <div class="auth-card">
    <div class="auth-left">
      <h1>Your Gateway to<br />Unforgettable Journeys</h1>
      <p>
        Discover flights, plan trips, and explore destinations —
        all in one place.
      </p>
    </div>

    <div class="auth-right">

      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <label>Email</label>
        <input type="email" formControlName="email" />

        <small class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          Enter a valid email
        </small>

        <label>Password</label>
        <input type="password" formControlName="password" />


        <small class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          Password is required
        </small>

        <button type="submit">
          Login – Continue Exploring
        </button>

      </form>

      <p class="message">{{ message }}</p>

    </div>

  </div>

</div>