<div class="auth-wrapper">
  <div class="auth-card">

    <h2>User Registration</h2>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <!-- Name -->
      <div class="form-group">
        <input
          type="text"
          formControlName="username"
          required
          placeholder=" "
        />
        <label>Name</label>

        <small class="error"
          *ngIf="registerForm.get('username')?.touched &&
                 registerForm.get('username')?.hasError('required')">
          Name is required
        </small>
      </div>

      <!-- Email -->
      <div class="form-group">
        <input
          type="email"
          formControlName="email"
          required
          placeholder=" "
        />
        <label>Email</label>

        <small class="error"
          *ngIf="registerForm.get('email')?.touched &&
                 registerForm.get('email')?.hasError('email')">
          Enter a valid email
        </small>
      </div>

      <!-- Password -->
      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          required
          placeholder=" "
        />
        <label>Password</label>

        <small class="error"
          *ngIf="registerForm.get('password')?.touched &&
                 registerForm.get('password')?.hasError('minlength')">
          Minimum 6 characters
        </small>
      </div>

      <button type="submit">Register</button>

    </form>

    <p class="message">{{ message }}</p>

  </div>
</div>