<nav class="navbar">
  <div class="logo">Fly High</div>

  <ul class="nav-links">

    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
    </li>

    <li>
      <a routerLink="/search" routerLinkActive="active">
        Search Flights
      </a>
    </li>

    <!-- USER BOOKINGS -->
    <li *ngIf="isLoggedIn">
      <a routerLink="/bookings" routerLinkActive="active">
        Bookings
      </a>
    </li>
    <!-- PROFILE -->
<li *ngIf="isLoggedIn">
  <a routerLink="/profile" routerLinkActive="active">
    Profile
  </a>
</li>

    <!-- ✅ ADMIN ONLY -->
    <li *ngIf="isLoggedIn && isAdmin">
      <a routerLink="/admin/add-flight" routerLinkActive="active">
        Add Flight
      </a>
    </li>

    <!-- AUTH -->
    <li *ngIf="!isLoggedIn">
      <a routerLink="/login" routerLinkActive="active">
        Login
      </a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a routerLink="/register" routerLinkActive="active">
        Register
      </a>
    </li>

    <!-- LOGOUT -->
    <li *ngIf="isLoggedIn">
      <button class="nav-link" (click)="openLogoutDialog()">
        Sign Out
      </button>
    </li>

  </ul>
</nav>

<app-logout
  *ngIf="showLogoutDialog"
  (confirm)="confirmLogout()"
  (cancel)="cancelLogout()">
</app-logout>