.auth-card {
  max-width: 380px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  text-align: center;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
}

.message {
  margin-top: 15px;
  color: #16a34a;
}

.link {
  display: block;
  margin-top: 20px;
  color: #2563eb;
  text-decoration: none;
}