:root {
  --color-primary: #1e40af;
  --color-primary-light: #3b82f6;
  --color-accent: #f97316;
  --color-accent-light: #fb923c;
  --color-danger: #dc2626;
  --color-success: #16a34a;
  --color-text: #0f172a;
  --color-text-light: #374151;
  --color-background-card: rgba(255, 255, 255, 0.95);
  --color-background-soft: #f8fafc;
  --color-border: #cbd5e1;
  --color-shadow: rgba(0, 0, 0, 0.2);

  --radius-xl: 20px;
  --radius-lg: 14px;
  --radius-md: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;

  background-image:
    linear-gradient(rgba(15, 23, 42, 0.65),
      rgba(15, 23, 42, 0.65)),
    url("assets/bg-flight.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}