html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;

  background-image:
    linear-gradient(
      rgba(15, 23, 42, 0.65),
      rgba(15, 23, 42, 0.65)
    ),
    url("assets/bg-flight.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}